ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff;

    ion-list {
      ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;

        ion-label {
          font-weight: bold;
        }

        ion-input {
          --padding-start: 0;
        }
      }
    }

    ion-button {
      margin-top: 20px;
      --background: #3880ff;
      --border-radius: 4px;
      --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
