<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button label="Volver" [routerLink]="['/inicio']"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar class="profile-avatar">
        <img src="https://via.placeholder.com/150" alt="Profile Picture"/>
      </ion-avatar>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>Usuario</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-text>Usuario&#64;example.com</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <ion-text>11111111</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
