<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button label="Volver" [routerLink]="['/inicio']"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar class="profile-avatar">
        <img src="https://via.placeholder.com/150" alt="Profile Picture"/>
      </ion-avatar>
      <ion-list *ngIf="user">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ user.nombre }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Código:</ion-label>
          <ion-text>{{ user.codigo }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Rol:</ion-label>
          <ion-text>{{ user.rol_id === 1 ? 'Admin' : 'Usuario' }}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!user">
        <ion-item>
          <ion-label>Cargando...</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
