ion-content {
  --background: #f4f5f8;

  form {
    ion-item {
      --background: white;
      --border-radius: 8px;
      --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;

      ion-label {
        font-weight: bold;
        color: #333; // Mejorar visibilidad del texto de los labels
      }

      ion-input, ion-select {
        margin-top: 5px;
        color: #000; // Cambiar el color del texto a negro
        --placeholder-color: #888; // Asegurarse de que los placeholders también sean visibles
      }
    }

    ion-button {
      margin-top: 20px;
      --background: #3880ff;
      --border-radius: 4px;
      --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      --color: white; // Asegurarse de que el texto del botón sea visible
    }
  }

  ion-list {
    margin-top: 20px;
    ion-item {
      --background: white;
      --border-radius: 8px;
      --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;

      ion-label {
        h2 {
          font-weight: bold;
          font-size: 1.2rem;
          color: #333; // Mejorar visibilidad del texto de los labels
        }

        p {
          color: #666;
        }
      }

      ion-button {
        --color: white; // Asegurarse de que el texto del botón sea visible
      }
    }
  }
}
