<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/inicio']"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="createProfile()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="profile.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Código</ion-label>
      <ion-input [(ngModel)]="profile.codigo" name="codigo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="profile.password" name="password" type="password" maxlength="8" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rol</ion-label>
      <ion-select [(ngModel)]="profile.rol_id" name="rol_id" required>
        <ion-select-option value="1">Admin</ion-select-option>
        <ion-select-option value="2">Usuario</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit">Crear Perfil</ion-button>
  </form>

  <ion-list *ngIf="profiles.length > 0">
    <ion-list-header>
      <ion-label>Perfiles Creados</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let profile of profiles">
      <ion-label>
        <h2>{{ profile.nombre }}</h2>
        <p>Rol: {{ profile.rol_id === 1 ? 'Admin' : 'Usuario' }}</p>
      </ion-label>
      <ion-button (click)="showDetails(profile)">Detalles</ion-button>
      <ion-button *ngIf="profile.estado" color="danger" (click)="toggleUserStatus(profile)">Desactivar</ion-button>
      <ion-button *ngIf="!profile.estado" color="success" (click)="toggleUserStatus(profile)">Activar</ion-button>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalles del Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ selectedProfile?.nombre }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Código:</ion-label>
          <ion-text>{{ selectedProfile?.codigo }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Rol:</ion-label>
          <ion-text>{{ selectedProfile?.rol_id === 1 ? 'Admin' : 'Usuario' }}</ion-text>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
